

#main {
    margin: 50px auto;
    text-align: center;
    float: center;
}


.container{
    background-image: url("https://cdn.xl.thumbs.canstockphoto.com/the-colorful-word-trivia-on-table-the-colorful-word-trivia-on-wooden-table-stock-photograph_csp41627092.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 750px;
}

h1 {
    text-align: center;
    padding: 20px;

}

.answerChoice:hover {
    background:grey;
}

