
botton {
    text-align: center;
    float: center;
}


.container{
    background: pink;
    padding-bottom: 750px;
}

h1 {
    text-align: center;
    padding: 20px;
    
}

h6:hover {
    background: red;
}

